.container {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  .text-field {
    width: 45%;
  }
  .selects {
    margin-top: 58px;
    width: 45%;
  }
  /deep/.mat-header-row {
    background: purple;
    th {
      color: white;
    }
  }
}
